---
import Logo from '../assets/icons/logo.svg';
import FacebookLogo from '../assets/icons/icon-facebook.svg';
import TwitterLogo from '../assets/icons/icon-twitter.svg';
import PinterestLogo from '../assets/icons/icon-pinterest.svg';
import InstagramLogo from '../assets/icons/icon-instagram.svg';
---

<footer class="bg-black z-10 flex flex-col w-full py-14
lg:flex-row lg:justify-between lg:items-center lg:px-30">
    <div class="flex flex-col items-center gap-6 mb-10 
    lg:mb-0 lg:items-start">
        <picture>
            <img src={Logo.src} alt="Logo" class="w-38 sm:w-42"/>
        </picture>

        <nav class="text-white font-alata">
            <ul class="flex flex-col gap-4 text-xs
            lg:flex-row lg:gap-6 lg:text-base">
              <li><a href="#" class="hover-underline">About</a></li>
              <li><a href="#" class="hover-underline">Careers</a></li>
              <li><a href="#" class="hover-underline">Events</a></li>
              <li><a href="#" class="hover-underline">Products</a></li>
              <li><a href="#" class="hover-underline">Support</a></li>
            </ul>
          </nav>
    </div>

    <div class="flex flex-col items-center gap-4
    lg:gap-6 lg:items-end">
      <ul class="flex gap-4">
        <li><a href="#"><img src={FacebookLogo.src}  class="transition-transform duration-300 ease-in-out hover:scale-125" alt="Facebook Logo"></a></li>
        <li><a href="#"></a><img src={TwitterLogo.src}  class="transition-transform duration-300 ease-in-out hover:scale-125" alt="Twitter Logo"></li>
        <li><a href="#"></a><img src={PinterestLogo.src}  class="transition-transform duration-300 ease-in-out hover:scale-125" alt="Pinterest Logo"></li>
        <li><a href="#"></a><img src={InstagramLogo.src}  class="transition-transform duration-300 ease-in-out hover:scale-125" alt="Instagam Logo"></li>
      </ul>
      <p class="text-xs lg:text-base text-veryDarkGray font-alata">  © 2021 Loopstudios. All rights reserved. </p>
    </div>

</footer>